@inherits LayoutComponentBase

<div class="flex flex-row w-screen min-h-screen bg-lithium-0 overflow-x-hidden">
    <div class="fixed inset-0 bg-[radial-gradient(circle_at_1rem_1rem,#222229_1px,transparent_0)] bg-size-[2rem_2rem] pointer-events-none"></div>
    <main class="w-full h-full relative">
        <ErrorModal>
            @Body
        </ErrorModal>
    </main>
</div>