@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AppleIcon />

<CherryIcon ClassName="w-kms" kms="now" />

<br/>

@foreach (var type in typeof(AppleIcon).Assembly.GetTypes())
{
    @type.FullName <br/>
}
