@inherits LayoutComponentBase

<div class="flex flex-row w-screen h-screen bg-lithium-0 overflow-hidden">
    <div class="absolute inset-0 bg-[radial-gradient(circle_at_1rem_1rem,#222229_1px,transparent_0)] bg-size-[2rem_2rem] pointer-events-none"></div>
    <main class="w-full h-full">
        @Body
    </main>
</div>

<ErrorModal/>