@inherits LayoutComponentBase

<div class="flex flex-row w-screen h-screen bg-[#0a0a0c] overflow-hidden">
    <NavMenu @rendermode="InteractiveServer"/>

    <main class="flex-1 h-full overflow-y-auto relative">
        <div class="absolute inset-0 bg-linear-to-br from-indigo-500/5 to-purple-500/5 pointer-events-none"></div>
        <div class="relative z-10 p-8">
            @Body
        </div>
    </main>
</div>

<ErrorModal/>