@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="flex flex-row h-14 m-2 rounded-lg items-center justify-end gap-4 px-4">
    <NavLink class="nav-btn!" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-btn!" href="counter">
        Counter
    </NavLink>
    <NavLink class="nav-btn!" href="weather">
        Weather
    </NavLink>

    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link" href="Account/Manage">
                @context.User.Identity?.Name
            </NavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <NavLink class="nav-btn!" href="Account/Register">
                Register
            </NavLink>
            <NavLink class="nav-btn!" href="Account/Login">
                Login
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>
</nav>

@code {

    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}