@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="flex h-full gap-2 bg-[#121218]">
    @* <DashboardNavLink href="" Match="NavLinkMatch.All" Text="Home"/> *@
    @* <DashboardNavLink href="counter" Text="Counter"/> *@
    @* <DashboardNavLink href="weather" Text="Weather"/> *@
    
    <div class="w-14 h-full py-8 flex flex-col gap-2 items-center">
        <div class="w-10 h-10 rounded-lg bg-white">
            
        </div>
    </div>
    
    <div class="w-[300px] h-full flex flex-col pl-2 pr-4 py-8">
        <Category Text="General">
            <ChildContent>
                <DashboardNavLink href="overview" Text="Overview"/>
            </ChildContent>
        </Category>
    
        <Category Text="Servers">
            <ChildContent>
            </ChildContent>
        </Category>
    
        <Category Text="Resources">
            <ChildContent>
                <DashboardNavLink href="docs" Icon="import_contacts" Text="Documentation"/>
                <DashboardNavLink href="support" Icon="build" Text="Support"/>
            </ChildContent>
        </Category>
    </div>

    @* <AuthorizeView> *@
    @*     <Authorized> *@
    @*         <NavLink class="nav-link" href="Account/Manage"> *@
    @*             @context.User.Identity?.Name *@
    @*         </NavLink> *@
    @*         <form action="Account/Logout" method="post"> *@
    @*             <AntiforgeryToken/> *@
    @*             <input type="hidden" name="ReturnUrl" value="@_currentUrl"/> *@
    @*             <button type="submit" class="nav-link"> *@
    @*                 <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout *@
    @*             </button> *@
    @*         </form> *@
    @*     </Authorized> *@
    @*     <NotAuthorized> *@
    @*         <NavLink class="nav-btn!" href="Account/Register"> *@
    @*             Register *@
    @*         </NavLink> *@
    @*         <NavLink class="nav-btn!" href="Account/Login"> *@
    @*             Login *@
    @*         </NavLink> *@
    @*     </NotAuthorized> *@
    @* </AuthorizeView> *@
</nav>

@code {

    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}