@using LucideBlazor

<NavLink @attributes="AdditionalAttributes" 
         href="@Href" 
         class="group w-full px-2 py-1.5 rounded-md bg-transparent hover:bg-white/5 border border-transparent hover:border-white/5 aria-[current=page]:bg-white/5 aria-[current=page]:border-white/5"
         Match="@Match">
    <div class="flex gap-3 items-center">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <LucideIcon ClassName="stroke-gray-400 group-hover:stroke-white/80 group-aria-[current=page]:stroke-white/80" Name="@Icon" Size="18"/>
        }
        <span class="text-sm text-white/60 group-hover:text-white group-aria-[current=page]:text-white">@Text</span>
    </div>
</NavLink>