<div class="group w-full px-2 py-1.5 rounded-lg bg-transparent hover:bg-white/10 hover:outline-1 outline-white/20">
    <NavLink href="@Href" class="text-sm text-white/80! group-hover:text-white!" Match="@Match">
        <ChildContent>
            <div class="flex gap-2 items-center">
                @if (!string.IsNullOrEmpty(Icon))
                {
                    <Icon class="text-[18px]! text-white/80!">@Icon</Icon>
                }
                @Text
            </div>
        </ChildContent>
    </NavLink>
</div>

@code {

}