@page "/servers/{ServerId:long}/console"
@rendermode InteractiveServer

<h1 class="text-2xl font-bold text-white mb-4">Server Console</h1>

<ServerConsole />

@code {
    
    [Inject] private ILogger<Console> Logger { get; set; } = null!;
    [Parameter] public long ServerId { get; set; }

} 