@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-lithium-0: #0a0a0e;
    --color-lithium-50: #121218;
    --color-lithium-100: #222229;
    --color-lithium-200: #33333b;
    --color-lithium-300: #43434c;
    --color-lithium-400: #54545d;
    --color-lithium-500: #64646f;
    --color-lithium-600: #747480;
    --color-lithium-700: #858591;
    --color-lithium-800: #9595a2;
    --color-lithium-900: #b6b6c5;

    --font-satoshi: 'Satoshi', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

@layer base {
    * {
        @apply font-inter select-none;
    }

    /*.markdown-body {*/
    /*    @apply prose prose-lg prose-blue max-w-none;*/
    /*}*/
}

@utility prose {
    /* Lists */
    ol,
    ul {
        @apply my-4;

        ol,
        ul {
            @apply my-1;
        }

        li {
            @apply my-1 ml-6;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                @apply my-1;
            }
        }
    }

    ol {
        @apply list-decimal;

        ol {
            @apply list-[lower-alpha];

            ol {
                @apply list-[lower-roman];
            }
        }
    }

    ul {
        @apply list-disc;
    }

    /* Tables */
    table {
        @apply my-4 w-full table-auto border-collapse text-left text-sm/6;

        caption {
            @apply mt-2 caption-bottom text-left text-sm/6;
        }

        thead {
            @apply border-b border-neutral-200;
        }

        tfoot {
            @apply border-t border-neutral-200;
        }

        tr {
            @apply border-y border-neutral-200 first:border-t-0 last:border-b-0;
        }

        th {
            @apply align-bottom font-semibold;
        }

        td,
        th {
            @apply p-2 first:pl-0 last:pr-0;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                @apply my-2 first:mt-0 last:mb-0;
            }
        }
    }

    /* Typography */
    del {
        @apply line-through opacity-60;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-base;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply my-4 font-medium empty:hidden;
    }

    p {
        @apply my-4 empty:hidden;
    }
}
