@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary: white;
    --color-secondary: #F8F8F8;
    --color-highlight: #E2E2E2;
    --color-accent: #121212;
    --text-primary: #121212;
    --text-secondary: #F8F8F8;
    --text-accent: red;
    
    --font-satoshi: 'Satoshi', sans-serif;
}