@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-lithium-50: #121218;
    --color-lithium-100: #191920;
    --color-lithium-200: #202029;
    --color-lithium-300: #272731;
    --color-lithium-400: #2e2e39;
    --color-lithium-500: #363642;
    --color-lithium-600: #3d3d4a;
    --color-lithium-700: #444452;
    --color-lithium-800: #4b4b5a;
    --color-lithium-900: #59596b;

    --font-satoshi: 'Satoshi', sans-serif;
    --font-googlesans: 'Google Sans', sans-serif;
}

@layer base {
    * {
        @apply font-googlesans select-none;
    }
}