@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*    font-family: 'Google Sans';*/
/*    font-optical-sizing: auto;*/
/*    font-style: normal;*/
/*    font-variation-settings: "GRAD" 0;*/
/*}*/

@theme {
    --color-primary: #1E1E2D;
    --color-primary-highlight: #ffffff;
    --color-secondary: #1B1B29;
    --color-secondary-highlight: #565674;
    --color-accent: #F07A1D;

    --font-satoshi: 'Satoshi', sans-serif;
    --font-googlesans: 'Google Sans', sans-serif;
}

@utility nav-btn {
    @apply text-secondary-highlight hover:text-accent transition-colors duration-100;
}