@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary: #1E1E2D;
    --color-secondary: #1B1B29;
    --color-accent: #F07A1D;
    --text-primary: white;
    --text-secondary: #565674;
    --text-accent: #F07A1D;

    --font-satoshi: 'Satoshi', sans-serif;
}